.mainpageBackground {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(115, 179, 253));
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logoutButton {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 50px;
    border: 0.5px solid rgb(115, 179, 253);
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

.logoutButton:hover {
    background-color: rgb(115, 179, 253);
    color: black;
}

.search {
    background: linear-gradient(to bottom, #da4453, #89216b);
    max-width: fit-content;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: relative;
    left: -20%;
    padding-left: 5%;
    padding-right: 5%;
    max-height: 100px;
    top: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 300px;
}

.result {
    background: linear-gradient(to top, #f12711, #f5af19);
    max-width: fit-content;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: absolute;
    left: 55%;
    padding-left: 5%;
    padding-right: 7%;
    padding-top: 8%;
    padding-bottom: 12%;
    max-height: 100px;
    top: 25%;
    border-radius: 300px;
}

.searchButton {
    background-color: aqua;
    padding: 4%;
    border-radius: 10px;
    background: rgba(255, 170, 0, 0.964);
    color: #77125b;
    font-weight: bold;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(154, 153, 153, 0.05);
    cursor: pointer;
}

.searchButton:hover {
    background: rgb(255, 123, 0);
    color: #77125b;
}

.city {
    position: relative;
    top: -60px;
    right: -20px;
    color: #cb3609;
}

.date {
    position: relative;
    right: -130px;
    top: -80px;
    color: #cb3609;
}

.sunrise {
    position: relative;
    top: -40px;
    right: -20px;
    color: #f5d48d;
}

.sunset {
    position: relative;
    top: -20px;
    right: -20px;
    color: #f7dca2;
}

.datePicker {
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: large;
    border-radius: 20px;
    padding: 2%;
    padding-left: 5.5%;
    padding-right: 5.5%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(154, 153, 153, 0.05);
    overflow: hidden;
}

.selectCity {
    text-align: center;
    font-size: x-large;
    border-radius: 20px;
    padding: 1%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(154, 153, 153, 0.05);
}

select option {
    background: rgb(114, 16, 57, 0.5);
    color: black;
}